.reward-account .ra-form { width:303px; margin:0 auto;  padding:81px 0 123px;}
.reward-account .ra-fields { margin-bottom:9px; }
.reward-account .ra-fields label { font-weight:normal; font-size:14px; color:#343434; line-height: 1; }
.reward-account .ra-fields label span { margin-left:24px; color:#5d90cb; cursor:pointer;  }
.reward-account .ra-fields input { display:block; outline:none; width:240px; height:26px; margin: 18px 0 18px 28px; border:1px solid #b5b5b5; padding:2px 5px;}
.ra-fields-btn {display:inline-block; width:85px; height:26px; border:1px solid #5d90cb; background:#5d90cb; color:#fff; line-height: 24px; text-align: center; cursor:pointer;}
.ra-fields-submit { background:#5d90cb; color:#fff; margin-left:28px;}
.ra-fields-submit:hover { background:#fff; color:#5d90cb; }
.ra-fields-cancel { border-color: #9a9a9a; background:#9a9a9a; color:#fff; margin-left:70px; }
.ra-fields-cancel:hover { background:#fff; color:#9a9a9a; }