.reward-account .zs-body-main { padding: 21px 24px; }
.reward-account .ra-crumbs {margin-bottom:18px;}
.reward-account .ra-crumbs,
.reward-account .ra-crumbs a { color:#5d90cb; font-size:14px; line-height: 1;}
.reward-account .zs-btn-add { display:block; width:138px; margin-bottom:16px;}
.reward-account .ra-list { font-size:0; }
.reward-account .ra-list > div {border:1px solid #d4d4d4; border-top:none; line-height: 42px; height:43px;}
.reward-account .ra-list > div:first-child {border-top:1px solid #d4d4d4; font-size:16px; background:#f7f7f7; padding:0 28px;}
.reward-account .ra-list > div > div {display:inline-block; width:33%; font-size:14px; color:#383838; text-align: center;}
.reward-account .ra-list .ra-list-op span {padding:0 5px 0 4px; cursor:pointer;}
.reward-account .zs-empty { padding-top:47px;}
