.reward-home { min-width:674px;  }
.reward-home .zs-col-side > div:first-child { padding:6px 0 4px; margin-bottom:13px; }
.reward-home .zs-col-side > div:first-child > div { width:50%; color:#383838; line-height: 1; text-align: center; font-size:14px; min-height:100px; padding-top:12px;}
.reward-home .zs-col-side > div:first-child > .fl { border-right:1px dashed #ccc; }
.reward-home .zs-col-side > div:first-child .num { font-size:48px; color:#90cb5d; margin-top:21px; }
.reward-home .zs-col-side > div:first-child .fl .num { color:#5d90cb; }
.reward-home .rd-btn-link { width:148px; height:42px; line-height: 40px; text-align: center; background:#ddedff;  }
.reward-home .zs-col-main { padding:24px 31px 0 39px; min-width:313px;  }
.rd-coupons h1 {font-size:14px; color:#383838; margin-bottom:16px;}
.rd-coupons h1 i { display:inline-block; width:20px; height:16px; vertical-align: middle; margin-right:16px; background:url(./../reward/images/reward_ico.png) no-repeat;}
.rd-coupons h1 i.coupons-ico-show { background-position:-162px -18px;}
.rd-coupons h1 i.coupons-ico-pin { background-position:-162px -86px;}
.rd-coupons h1 i.coupons-ico-tian { background-position:-162px -152px;}
.rd-coupons h1 i.coupons-ico-phone { background-position:-162px -117px;}
.rd-coupons h1 i.coupons-ico-baccarat { background-position:-162px -49px;}
.rd-coupons h1 + div { font-size:0; margin-left:-16px;}
.rd-coupons-empty { background:url(/reward/images/reward_empty.png) no-repeat center center; width:100%; height:523px; }
.rd-coupon { display:inline-block; position:relative; margin:0 16px 22px 16px ; width:236px; height:125px; border:1px solid #d4d4d4; padding:1px; background:#fff; border-radius:5px; overflow:hidden; }
.rd-coupon .coupon-bar { background:#f21c1d; border-bottom:1px solid #fff; height:11px; border-radius:5px 5px 0 0;}
.rd-coupon .coupon-bar-run { background:#5fac1c; }
.rd-coupon .coupon-name { position:relative; height:85px; background:url(/reward/images/coupon_hover.png) no-repeat top center; line-height: 84px; font-size:22px; font-weight:bold; text-align:center; color:#fff;}
.rd-coupon .coupon-name:after { content:''; position:absolute; display:block; width:100%; height:100%; background:rgba(255, 255, 255, .3); top:0; left:0;}
.rd-coupon .coupon-status { height:25px; border-top:1px solid #fff; background:#f0f0f0; line-height: 2; font-size:12px; padding:0 20px; }
.rd-coupon .coupon-edit {   z-index: 2; position:absolute; bottom:0; right:20px; font-size:12px; line-height: 2; color:#383838;}
.coupon-status span.coupon-status-pause { color:#fa4848;}
.coupon-status span.coupon-status-run {color:#5fac1c;}
.rd-coupon-over:after{ z-index: 2;content: ''; position:absolute; top:0; right:0; bottom:0; left:0; background:rgba(255, 255, 255, .59) url(./../reward/images/coupon_over.png) no-repeat center 12px;  }
.rd-coupon:hover {box-shadow:0 0 7px #6196d0, 1px 1px 4px rgba(0, 0, 0, .22);  }
.rd-coupon:hover .coupon-name:after { display:none; }
