<div class="zs-main reward-home">
	<div class="zs-header clearfix">
		<div class="fl">
			<i class="zs-ico-reward"></i>奖励
		</div>
		<div class="fr">
			<a [routerLink]="['/create']" class="zs-btn-add"><span>新建奖励方案</span></a>
		</div>
	</div>
	<div class="zs-col zs-body">
		<div class="zs-col-main zs-border">
 			<div class="rd-coupons" *ngIf="!!typelist?.length">
				<!-- 展示型优惠券 -->
				<div>
					<h1><i class="coupons-ico-show"></i>展示型优惠券</h1>
					<div>
						<div class="rd-coupon"  *ngFor="let tl of typelist|groupType:1; let idx = index;trackBy:trackByTypelist">
							<a [routerLink]="['/show/detail',{id:tl.cRPId,state:tl.cRPStatus}]">
								<div class="coupon-bar" [class.coupon-bar-run]="tl.cRPStatus==1" [class.rd-coupon-over]="tl.completeStatus==1"></div>
								<div class="coupon-name" [ngStyle]="{'background':getImg(tl)}">{{tl.cRPName}}</div>
								<div class="coupon-status" [ngSwitch]="tl.cRPStatus">
										<span class="coupon-status-pause" *ngSwitchWhen="2">暂停中</span>
										<span class="coupon-status-run" *ngSwitchWhen="1">奖励发放中</span>
								</div>
							</a>
							<a [routerLink]="['/show/edit',{id:tl.cRPId,state:tl.cRPStatus}]" class="coupon-edit">编辑</a>
							<div class="coupon-over"></div>
						</div>
					</div>
				</div>
				<!-- 展示型优惠券 end-->
				<!-- 核验型优惠券 -->
				<div>
					<h1><i class="coupons-ico-pin"></i>核验型优惠券</h1>
					<div>
						<div class="rd-coupon"  *ngFor="let tl of typelist|groupType:2; let idx = index;trackBy:trackByTypelist">
							<a [routerLink]="['/pin/detail',{id:tl.cRPId,state:tl.cRPStatus}]">
								<div class="coupon-bar" [class.coupon-bar-run]="tl.cRPStatus==1" [class.rd-coupon-over]="tl.completeStatus==1"></div>
								<div class="coupon-name" [ngStyle]="{'background':getImg(tl)}">{{tl.cRPName}}</div>
								<div class="coupon-status" [ngSwitch]="tl.cRPStatus">
										<span class="coupon-status-pause" *ngSwitchWhen="2">暂停中</span>
										<span class="coupon-status-run" *ngSwitchWhen="1">奖励发放中</span>
								</div>
							</a>
							<a [routerLink]="['/pin/edit',{id:tl.cRPId,state:tl.cRPStatus}]" class="coupon-edit">编辑</a>
							<div class="coupon-over"></div>
						</div>
					</div>
				</div>
				<!-- 核验型优惠券 end-->
				<!-- 大转盘 -->
				<div>
					<h1><i class="coupons-ico-baccarat"></i>大转盘</h1>
					<div>
						<div class="rd-coupon" *ngFor="let tl of typelist|groupType:3; let idx = index;trackBy:trackByTypelist">
							<a [routerLink]="[tl.cRPExchangeType==1?'/show/detail':'/pin/detail',{id:tl.cRPId,state:tl.cRPStatus}]">
								<div class="coupon-bar" [class.coupon-bar-run]="tl.cRPStatus==1"[class.rd-coupon-over]="tl.completeStatus==1"></div>
								<div class="coupon-name" [ngStyle]="{'background':getImg(tl)}">{{tl.cRPName}}</div>
								<div class="coupon-status" [ngSwitch]="tl.cRPStatus">
										<span class="coupon-status-pause" *ngSwitchWhen="2">暂停中</span>
										<span class="coupon-status-run" *ngSwitchWhen="1">奖励发放中</span>
								</div>
							</a>
							<a [routerLink]="['/baccarat/edit',{id:tl.cRPId,state:tl.cRPStatus}]" class="coupon-edit">编辑</a>
							<div class="coupon-over"></div>
						</div>
					</div>
				</div>
				<!-- 大转盘 end-->
			</div>
			<div class="rd-coupons-empty" *ngIf="!typelist?.length"></div>
		</div>
		<div class="zs-col-side">
			<div class="zs-border clearfix">
				<div class="fl">
					<div>全部方案</div>
					<div class="num">{{all}}</div>
				</div>
				<div class="fr">
					<div>运行中的方案</div>
					<div class="num">{{run}}</div>
				</div>
			</div>
			<div class="clearfix ">
				<a href="/rewardCheckUser/checkReward" target="_blank" class="fl zs-border rd-btn-link">奖励核验入口</a>
				<a [routerLink]="['/account/list']" class="fr zs-border rd-btn-link">核验账号设置</a>
			</div>
		</div>
	</div>
</div>
